#CSHeader{
    margin-top : 70px;
 } 
#CS1{
    width: 250px;
    height: 250px;
    border:2px solid black;
}
.CSMenu{
    text-decoration: none; 
    color:black; 
    border: 1px solid gray; 
    border-radius: 5px;
}
.CSMenu2{
    color:gray; 
    font-size:80px; 
    position: relative; 
    top:30px;
}
.CSList{
    display: flex; 
    flex-direction: row; 
    position: relative; 
    top:10px
}
.CSList2{
    text-decoration: none;
    color: black;
}
.CSBottom2{
    width: 550px; 
    height: 300px; 
    border-radius: 15px; 
    background-color: rgba(169, 169, 169, 0.205); 
    position: relative;
    top:20px; left:110px;
}