/* FAQ */

 #FAQHeader{
    margin-top : 70px;
 } 
 #FAQMain{
    margin-top : 50px;
    font-size: 40px;
 }

 
 .FAQSearch{
    text-align: left; 
    width:270px; 
    border: 1px solid gray;
    border-radius: 5px; 
    border-color: gray;
    background-color: white; 
    padding-right: 40px;
 }
 #FAQSearchbox{
    text-align: center; 
    justify-content: center;
 }

.FAQList{
    text-decoration: none; 
    color: black;
    font-size: 25px;
 }
 .FAQ-level1{
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 400px;
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50px;
    line-height: 50px;
    text-align: justify;
    font-size: 20px;
}
.FAQ-level1>li{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.425);
}
.FAQ-level1>li>a{
    text-decoration: none; 
    color: black;
}

.FAQ-level2{
    list-style: none;
    padding: 0px;
    display: none;
}

#check:checked ~ .FAQ-level2 {
    display: block;
}
#check ~ label{
    cursor: pointer;
}
#check2:checked ~ .FAQ-level2 {
    display: block;
}
#check2 ~ label{
    cursor: pointer;
}
#check3:checked ~ .FAQ-level2 {
    display: block;
}
#check3 ~ label{
    cursor: pointer;
}
#check4:checked ~ .FAQ-level2 {
    display: block;
}
#check4 ~ label{
    cursor: pointer;
}
