
    #main-body{
        font-size:36px;
        margin-left:20%;
        margin-right:20%;
        }
        
        #main-body hr{
        border:2px solid gray;
        }
        #middle-body{
            font-size:28px;
            margin-left:10%;
            margin-right: 10%; 
            margin-top:10%;
        }
        #middle-content{
            font-size:15px;
          }
        #table-menu{
            font-size:22px;
        }